# Xcode
*.xcworkspace
*.xcuserstate
*.xccheckout
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
.DS_Store

# Build
DerivedData/
build/

# Swift Package Manager
.swiftpm
.build/

# CocoaPods (if used)
Pods/

# Carthage (if used)
Carthage/

# Secrets
Secrets.plist
*.keys
*.env

# Logs
*.log

# Misc
*.swp
*.zip

